@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(235, 14, 14);
}

.left {
    padding: 10px;
    width: 25vw;
    height: 97vh;
}

.right {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 75vw;
    margin-top: 15px;
    margin-right: 15px;
    height: 96vh;
    position: relative;
}

.playbar {
    position: absolute;
    bottom: 0;
    background-color: rgb(58, 80, 83);
    width: 100%;
    padding: 6px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbuttons {
    color: aqua;
    width: 20px;
    height: 20px;

}

.library {
    color: aliceblue;
    min-height: 65vh;
    position: relative;
}

.home {
    color: white;
    padding: 15px;
}

.home ul li {
    align-items: center;
    gap: 4px;
    display: flex;
    width: 25px;
    list-style: none;
    padding-top: 30px;
}

.logo img {
    color: white;
    width: 100px;
}

.m-1 {
    margin: 5px;
}

.libimg img {

    width: 34px;
    height: 34px;
}

.libimg {
    margin-right: 5px;
}

.fontf {
    color: #b3b3b3
}

.libtext {
    max-height: 35px;
    text-align: center;
    padding: 5px;
}

.footerMAIN {
    color: grey;
    position: absolute;
    bottom: 0;
}

.footerSUB {
    color: antiquewhite;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
}

.footerSUB a {
    color: #9c9c9c;
}

.footerSUB div {
    margin-top: 5px;
    margin-right: 15px;
}

.arrows {
    width: 60px;

}

.laro {
    border-radius: 50%;

    width: 20px;
}

.raro {
    border-radius: 50%;

    width: 20px;
}

.nav {
    justify-content: space-between;

}

.nav>* {
    padding: 20px;
}

.playlist {
    margin-left: 12px;
    padding: 7px;
    font-family: 'Roboto';
    color: #fff;
}

.cardimg {
    width: 200px;
}

.cardcontainer {
    padding: 10px;
    overflow-y: scroll;
    max-height: 60vh;
}

.card {
    position: relative;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: #181818;
    padding: 20px;
    color: #fff;
    height: 240px;

}

.card p {
    color: #b3b3b3;
}

.cardimg img {
    border-radius: 14px;
    width: 100%;
    object-fit: contain;
}

#subtext {
    position: absolute;
    bottom: 5px;
}

.cardcontainer {
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.play {
    position: absolute;
    top: 162px;
    right: 25px;
    z-index: 1;
}

.footer {
    padding: 10px;
}

.play img {
    width: 46px;
}

button {
    /* Resetting all styles */
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    /* Additional reset for older browsers */

}

.buttons {
    gap: 16px;

}

.login {
    cursor: pointer;
    padding: 15px;
    font-weight: 700;
    font-size: 1.1rem;
    width: 100px;
    background-color: #fff;
    border-radius: 21px;
    color: #181818;
}

.signup {
    margin: 5px;
    color: #A7A7A7;
    font-weight: 700;
}

.raro {
    display: flex;
    align-items: center;
}
.songbuttons{
   padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.laro {
    display: flex;
    align-items: center;
}
.songbuttons img{
    width: 54px;
}
.songbuttons img:nth-of-type(1){
    width: 34px;
}
.songbuttons img:nth-of-type(3){
    width: 34px;
}
