* {
    margin: 0;
    padding: 0;

}

body {

    color: black;
}

.left {
    padding: 34px;
    width: 25vw;

}

.right {
    width: 75vw;
}

.home {
    color: white
}

.home ul li {
    align-items: center;
    gap: 4px;
    display: flex;
    width: 34px;
    list-style: none;
}